/*******************************************
   Utilities Classes Start
*******************************************/
.max-width {
    max-width: 1200px;
    margin-inline: auto;
}

.flex {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

.red-text {
    color: var(--dark-red);
}

.common-btn {
    font-family: var(--font-family-2);
    font-weight: 500;
    font-size: 1.4rem;
    background-color: var(--dark-red);
    color: var(--white);
    text-transform: uppercase;
    letter-spacing: 1.2px;
    margin-left: 1rem;
    border-radius: 5px;
    padding: 0.8rem;
}

@media (hover:hover) {
    .common-btn:hover {
        background-color: #da321f;
    }
}

.section-heading {
    color: var(--black);
    text-shadow: 3px 3px 5px 0px black;
    font-size: 3.2rem;
    text-transform: uppercase;
    margin: 2.5rem 0;
}

/*******************************************
   Utilities Classes End
*******************************************/