<footer>
    <div class="footer-inner max-width">
        <div class="footer-infos-row flex">
            <div class="footer-info-col">
                <h2>Информация</h2>
                <p>
                    Наша фотостудия — это пространство для творчества и вдохновения.
                    Мы предлагаем профессиональные условия для съемок.
                </p>
                <div class="social-media-icons">
                    <a href="#" target="_blank"><i class="fa fa-facebook"></i></a>
                    <a href="#" target="_blank"><i class="fa fa-instagram"></i></a>
                    <a href="#" target="_blank"><i class="fa fa-whatsapp"></i></a>
                </div>
            </div>
            <div class="footer-info-col">
                <h2>Полезные ссылки</h2>
                <ul>
                    <li><a asp-controller="Home" asp-action="Index">Главная</a></li>
                    <li><a asp-controller="Home" asp-action="Gallery">Галерея</a></li>
                </ul>
            </div>
        </div>
    </div>
</footer>